:root {
  --cor-principal: #701cda;
  --cor-secundaria: #a839ff;

  --cor1: #141414;
  --cor2: #f5f5f5;
  --cor3: #e0e0e0;
  --cor4: #525252;
  --cor5: #ffffff;
  --cor6: #a3a3a3;
  --cor7: #8f8f8f;
  --cor8: #000000;
  --cor9: #cccccc;
}
