.experiencia{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo{
  color: var(--cor3);
}

.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: var(--cor4);
}

.experiencia-texto strong{
  color: var(--cor1)
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: var(--cor2);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(var(--cor-secundaria), var(--cor-primaria));
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano{
  position: absolute;
  top: 22px;
  left: -100px;
  color: var(--cor4);
  font-size: 0.875rem;
  width: 80px;
  text-align: end;
}

.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  transition: .5s ease;
  padding: 0;
}

.empresa-titulo:hover{
  transform: scale(1.05);
  color: var(--cor-secundaria);
}

.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor4);
}

.empresa-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li{
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--cor5);
}

@media (max-width: 800px){
  .experiencia{
  grid-template-columns: 1fr;
  gap: 40px;
  }
  .experiencia .subtitulo{
    color: var(--cor1);
  }
  .experiencia-texto{
    font-size: 1.25rem;
  }
  .empresa-ano{
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}
@media (max-width: 400px){
  .empresa{
    grid-template-columns: 1fr;
  }
}