.footer{
  background: var(--cor8);
 
}

.footer-container{
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--cor9);
  grid-column: 2;
  grid-row: 1;
}

.footer-contato li{
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
  color: var(--cor5);
  margin-bottom: 30px;
}

.footer-contato li a {
  color: var(--cor5);
  padding: 0;
  transition: .5s ease;
}

.footer-contato li a:hover {
  transform: scale(1.05);
  color: var(--cor-secundaria);
}

.footer-copy{
  grid-column: 1 / -1;
  grid-column: 1 / -1;
  color: var(--cor9);
  margin: 0 auto;
  text-align: center;
}

@media(max-width: 800px){
  .footer-container{
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 40px;
  }
  .footer-contato{
    justify-items: start;
    grid-row: 2;
  }
  .footer-contato li{
    font-size: 1.125rem;
  }
  .footer-texto{
    font-size: 1.125rem;
    grid-column: 1;
    
  }
  .footer-copy{
  grid-column: 1 / 3;
  }
}
