@import "/css/cores.css";
@import "/css/header.css";
@import "/css/experiencia.css";
@import "/css/projetos.css";
@import "/css/formacao.css";
@import "/css/footer.css";

body {
  font-family: "Fira Sans", serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1.125rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--cor1);
  padding: 10px 20px;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.experiencia .subtitulo {
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

.github-corner {
  margin: 0;
  padding: 0;
  gap: 0;
}

.js-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translateY(0);
}

.container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
