body{
  position: relative;
}

body::before{
  content: "";
  background-image: url("/img/marca-superior.svg");
  height: 500px;
  width: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

#logo{
  height: 100px;
}

.header{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itamara{
  height: 2000px;
}

.header-menu{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-menu li a {
  background: var(--cor1);
  color: var(--cor2);
  border-radius: 4px;
  transition: .2s ease;
}

.header-menu li a:hover{
  background: var(--cor-principal);
  /* color: var(--cor1); */
  border-radius: 4px;
}

@media (max-width: 800px){
  .header{
    flex-direction: column;
    padding: 20px;
  }
  .header-menu{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .header-menu a{
    background-color: var(--cor2);
    border-radius: 5px;
  }
}

.introducao{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  gap: 100px;
  align-items: center;
  text-align: center;
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  position: relative;
  height: 200px;
  font-family: "Libre Baskerville";
  font-weight: 700 !important;
  /* text-align: start; */
}

.introducao h1::after{
  content: "";
  position: relative;
  display: flex;
  width: 300px;
  height: 2px;
  margin-top: 30px;
  text-align: center;
  justify-self: center;
  background: var(--cor-principal);

}

.introducao p{
  font-size: 2rem;
  color: var(--cor4);
}

button{
  margin-top: 30px;
  padding: 10px 40px;
  font-size: 2rem;
  font-family: "Fira Sans", serif;
  border: none;
  background: var(--cor1);
  color: var(--cor2);
  border-radius: 4px;
  transition: .2s ease;
}

button:hover{
  background: var(--cor-principal);
}

@media (max-width: 1000px){
  .introducao h1{
    font-size: 3rem;
  }
}

@media (max-width: 800px){
  .introducao{
    gap: 40px;
  }
  .introducao h1{
    font-size: 2rem;
  }
  .introducao h1::before{
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px){
  .introducao{
    grid-template-columns: 1fr;
  }
  .introducao img{
  display: none;
  }
  .introducao p{
    font-size: 1.125rem;
  }
}

    .introducao h1{
      /* align-items: center; */
      white-space: pre-wrap; /* permite quebra de linha natural */
      word-break: break-word; /* quebra palavras longas se necessário */
      font-weight: 500;
    }
    
    #cursor {
      display: inline;
      animation: blink 0.7s steps(1) infinite;
      /* width: 1px; */
      /* background: black; */
      /* height: 1em; */
      /* margin-left: 2px; */
    }

    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }

    #marca-superior{
      height: 200px;
      
    }